
.real-table {
  border-collapse: collapse;
  overflow: hidden;
  border: 1px solid #376E6F;
  border-radius: 20px;
  display: inline-block;
  float: none;
}

.real-table th, .real-table td {
  padding: 10px 25px;
}
.real-table tr:nth-child(even) {
  background:  #EAE7DC;
}

.real-table th {
  background-color: #376E6F;
  color: #EAE7DC;
}
