<nav class="menu">
  <header>
    <h2>Safi's Bibliothek</h2>
    <img src="../../../assets/img/open-book.png" alt="open book"/>
  </header>
  <ul class="main-menu">
    <li>
      <span>Listen anzeigen</span>
      <ul class="sub-menu">
        <li class="with-link">
          <a routerLink="/authors">Alle Autoren</a>
        </li>
        <li class="with-link">
          <a routerLink="/books">Alle Bücher</a>
        </li>
      </ul>
    </li>
    <li>
      <span>Neu hinzufügen</span>
      <ul class="sub-menu">
        <li class="with-link">
          <a routerLink="/add-book">Buch hinzufügen</a>
        </li>
        <li class="with-link">
          <a routerLink="/add-author">Autor hinzufügen</a>
        </li>
      </ul>
    </li>
    <li><span>Löschen</span>
      <ul class="sub-menu">
        <li>
          <span>Buch löschen</span>
        </li>
        <li>
          <span>Autor löschen</span>
        </li>
      </ul>
    </li>
    <li>
      <span>Sonstiges</span>
    </li>
    <li>
      <span>Login</span>
    </li>
  </ul>
</nav>
