<main>
  <div class="text-box">
    <h1>Füge ein neues Buch hinzu</h1>
    <p>Bitte fülle alle notwendigen Felder aus.</p>
    <br *ngIf="message === ''">
    <p class="{{errorMessage ? 'red' : 'grey'}}"> {{message}}</p>

    <form class="form" name="add-book" (submit)="checkForm()">
      <table class="form-table">
        <tr>
          <td>Titel: </td>
          <td><label>
            <input class="text-field" type="text" name="titel" value="" size="50" [(ngModel)]="title"/>
          </label></td>
        </tr>
        <tr>
          <td>ISBN: </td>
          <td><label>
            <input class="text-field" type="text" name="isbn" value="" size="50" [(ngModel)]="isbn"/>
          </label></td>
        </tr>
        <tr>
          <td>Verlag: </td>
          <td><label>
            <input class="text-field" type="text" name="publisher" value="" size="50" [(ngModel)]="publisher"/>
          </label></td>
        </tr>
        <tr>
          <td>Erscheinungsjahr: </td>
          <td><label>
            <input class="text-field" type="number" name="year" min="1950" max="2020" step="1" value="2020" size="50" [(ngModel)]="year"/>
          </label></td>
        </tr>

      </table>
      <input class="button" type="reset" value="Felder leeren" name="clear"/>
      <input class="button" type="submit" value="Weiter zum Autor" name="submit" />
    </form>
  </div>
</main>
