<main>
  <div class="text-box">
    <h1>Welchen Autor möchtest du löschen?</h1>
    <p>Gib ein Suchbegriff ein, nach dem du Bücher suchen möchtest.</p>
    <br *ngIf="message === ''">
    <p class="{{errorMessage ? 'red' : 'grey'}}"> {{message}}</p>


    <p>
    </p>
    <form class="form" name="search-book" (submit)="search()">
      <table class="form-table">
        <tr>
          <td>Suchbegriff: </td>
          <td><label>
            <input class="text-field" type="text" name="word" value="" size="50" [(ngModel)]="word" />
          </label></td>
        </tr>
      </table>
      <p class="grey"><i>
        Du kannst in diesem Bereich nach ISBN, Autor, Titel oder Verlag suchen.</i></p>

      <input class="button" type="reset" value="Feld leeren" name="clear" />
      <input class="button" type="submit" value="Suchen" name="submit" />
    </form>
  </div>

</main>
