<main>
  <div class="text-box" *ngIf="showPage">
    <h1>Welches Buch möchtest du löschen?</h1>
    <p>Wähle eine Option.</p>
    <br *ngIf="message === ''">
    <p class="{{errorMessage ? 'red' : 'grey'}}"> {{message}}</p>

    <form class="form" name="select-author" (submit)="delete()">
      <table class="form-table">
        <tr *ngFor="let book of list">
          <td>
            <label>
              <input type="radio" name="author-id" value="{{book.isbn}}" size="100" checked="checked" [(ngModel)]="selectedIsbn" />
            </label>
          </td>
          <td>
            <label>
              Titel= {{book.title}}, ISBN= {{book.isbn}}, Author= {{book.author.first_name}} {{book.author.last_name}}, Verlag= {{book.publisher}}
            </label>
          </td>
        </tr>
      </table>

      <p class="grey" >
        Wähle das Buch, welches du löschen möchtest. </p>
      <input class="button" type="submit" value="Buch löschen" name="submit" />
    </form>
    <form name="return" (submit)="goBack()">
      <input class="button" type="submit" value="Zurück zu Anfang" name="submit" />
    </form>
  </div>


  <div class="text-box" *ngIf="!showPage">
    <p class="red">Ups! Etwas ist schief gelaufen...Du wirst weitergeleitet. Einen Moment bitte.</p>
    <img src="../../../assets/img/loading-custom-transparent.gif" alt="loading..."/>
  </div>


</main>
