<main>
  <div class="text-box">
    <h1>Welchen Autor möchtest du löschen?</h1>
    <p>Wähle eine Option.</p>
    <br *ngIf="message === ''">
    <p class="{{errorMessage ? 'red' : 'grey'}}"> {{message}}</p>

    <form class="form" name="select-author" (submit)="delete()">
      <table class="form-table">
        <tr *ngFor="let book of list">
          <td>
            <label>
              <input type="radio" name="author-id" value="{{book.isbn}}" size="100" checked="checked" [(ngModel)]="selectedIsbn" />
            </label>
          </td>
          <td>
            <label>
              Titel= {{book.title}}, ISBN= {{book.isbn}}, Author= {{book.author.first_name}} {{book.author.last_name}}, Verlag= {{book.publisher}}
            </label>
          </td>
        </tr>
      </table>

      <p class="grey" >
        Wähle den Autor, den du löschen möchtest. </p>
      <input class="button" type="submit" value="Autor löschen" name="submit" />
    </form>
    <form name="return" (submit)="goBack()">
      <input class="button" type="submit" value="Zurück zu Anfang" name="submit" />
    </form>
  </div>
  <!--    <form name="add-author" (submit)="addAuthor()">-->

  <!--      <input class="button" type="submit" value="Stattdessen einen neuen Autor eingeben" name="submit" />-->
  <!--    </form>-->



</main>
