/* You can add global styles to this file, and also import other style files */
#general {
  background-color: #EAE7DC;
  /*margin: 0;*/
  font-family: "Lucida Sans Unicode", "Tahoma", "Lucida Console", serif;
  color: black;
  /*padding-left: 220px;*/
}

main {

}
.text-box {
  background: rgba(255, 255, 255, 0.25);
  padding: 25px;
  margin: 50px;
  text-align: center;
  border-radius: 20px;
  font-size: 16px;
  display: block;
  float: none;
}
.text-box h1 {
  margin-block-start: 0;
  margin-block-end: 20px;
  font-size: 30px;
  padding: 10px;
  display: block;
  font-weight: bold;
}
.text-box p {
  margin: 10px;
}
.red {
  color: #e54034;
}
.grey {
  color: #737373;
}


.button {
  display: inline-block;
  background-color: #376E6F;
  border: none;
  width: 40%;
  color: #EAE7DC;
  cursor: pointer;
  text-align: center;
  padding: 15px 15px;
  margin: 15px;
  font-size: large;
}
.button:hover {
  background-color:#e85a4f;
}
.invisible-button {
  appearance: none;
  cursor: pointer;
  border-style: none;
  background: inherit;
  color: inherit;
  font-family: inherit;
  font-size: inherit;
  font-weight: bold;
  padding: 0;
  box-sizing: content-box;
}
.form {
  background: rgba(255, 255, 255, 0.25);
  padding: 15px 15px;
  display: inline-block;
  box-sizing: border-box;
  border-radius: 20px;
}
.form-table {
  padding: 15px;
  text-align: left;
  display: inline-block;
  float: none;
  border: none;
}

.text-field {
  width: 100%;
  padding: 15px 15px;
  margin: 5px 0;
  box-sizing: border-box;
}
